
 <!-- Fixed navbar -->

 <nav class="navbar  navbar-fixed-top navbar-principal">

    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

          <span class="sr-only">Toggle navigation</span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

        </button>

        <a class="navbar-brand" (click)="gotoHomepage()" >
            <b>Clean-Note</b>
        </a>

        <div class=" icon-box row d-inline" >
          <i (click)="gotoHomepage()" class="fa fa-home" aria-hidden="true"></i>
          <i (click)="gotoFreindRequest()" class="fa fa-user-plus" aria-hidden="true"></i>`
          <i (click)="gotoChat()" class="fa fa-comments" aria-hidden="true"></i>
          <i  (click)="gotoNotification()" class="fa fa-bell" aria-hidden="true"></i>
           <i (click)="gotoSearch()" class="fa fa-search" aria-hidden="true"></i>
          
           
           
        </div>
      </div>

      <div id="navbar" class="collapse navbar-collapse">

          <div class="col-md-3 col-sm-3  " id="search-input-box">         

           <form class="navbar-form">

              <div class="form-group" style="display:inline;">

                <div class="input-group" style="display:table;">

                  <input class="form-control" name="search" placeholder="Search..." autocomplete="off" type="text">

                  <span class="input-group-addon" style="width:1%;">

                    <span class="glyphicon glyphicon-search"></span>

                  </span>

                </div>

              </div>

            </form>

          </div>        

          <ul class="nav navbar-nav   " >

            <li class="active home"><a (click)="gotoHomepage()" ><i class="fa fa-bars"></i>&nbsp;Home</a></li>

              <li class="profile-nav" >
                  <a (click)="gotoProfile()">
                    <img src="assets/img/woman-1.jpg" class="img-nav">
                    &nbsp;&nbsp; <span class="profile-name"> Hillary McBrewk</span> 
                  </a>
              </li>

              
                 <h5 class="label-box" style="border-top: 1px solid #d9d9da;">SUGGESTED</h5>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Groups</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Pages</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Saved</a></li>
                  
                 <h5 class="label-box">FAVOURITE</h5>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Groups</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Pages</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Saved</a></li>

                 <h5 class="label-box">FAVOURITE</h5>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Groups</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Pages</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Saved</a></li>

                 <h5 class="label-box">FAVOURITE</h5>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Groups</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Pages</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Saved</a></li>

                 <h5 class="label-box">FAVOURITE</h5>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Groups</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Pages</a></li>
                 <li class="group"><a (click)="gotoChat()"><img src="assets/img/woman-1.jpg" class="img-nav">&nbsp;&nbsp;&nbsp;Saved</a></li>

              <li class="comments"><a (click)="gotoChat()"><i class="fa fa-comments  nav-icons-for-mobile"></i></a></li>

              <li class="dropdown pages">

                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  Pages 

                    <span class="caret"></span>

                  </a>

                  <ul class="dropdown-menu">

                    <li><a (click)="gotoRecoverPassword()">Recover password</a></li>

                    <li><a (click)="gotoListuser()">List users</a></li>

                    <li><a (click)="gotoPhotos()">Photos</a></li>

                    <li><a (click)="gotoFreinds()">Friends</a></li>

                    <li><a (click)="gotoUserDirectory()">User directory</a></li>

                    <li><a (click)="gotoAbout()">About</a></li>

                    <li><a (click)="gotoEditProfile()">Edit profile</a></li>

                    <li><a (click)="gotoNotification()">Notifications</a></li>

                    <li><a (click)="gotoBlankCover()">Blank cover</a></li>

                    <li><a (click)="gotoRegistrationEmail()">Registration email</a></li>

                    <li><a (click)="gotoGridPost()">Grid posts</a></li>

                    <li><a (click)="gotoHomepage()">Error 404</a></li>

                    <li><a (click)="gotoHomepage()">Error 500</a></li>

                  </ul>

              </li>

              <li class="user d-inline"><a (click)="toggleMenu()" class="nav-controller"><i class="fa fa-user nav-icons-for-mobile"></i>Users</a></li>				

          </ul>

      </div>

    </div>

  </nav>

  <!-- <div class="row d-inline menu-box" >
    <i class="fa fa-home" aria-hidden="true"></i>
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    <i class="fa fa-bell" aria-hidden="true"></i>
    <i class="fa fa-user" aria-hidden="true"></i>
 </div> -->

  <app-sidebaruser *ngIf="showMenu"></app-sidebaruser>