<app-header (menuState)='burgerClicked($event)'></app-header>


<div class="container ">

	<div class="col-md-10 no-paddin-xs">

		<div class="row ">

			<!-- left content-->

			<div class="profile-nav col-md-4">

				<!-- Friends activity -->

				<div class="panel panel-info freind-activity">

					<div class="panel-heading">

						<h3 class="panel-title">Friends activity</h3>

					</div>

					<div class="panel-body">

						<div class="notification-row">

							<div class="notification-padding">

								<div class="sidebar-fa-image">

									<img class="notifications" src="assets/img/guy-2.jpg">

								</div>

								<div class="sidebar-fa-text">

									<b><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Carlos
											marthur</a></b> reviewed a

									<b><a
											href="https://www.bootdey.com/template_demo/clean-note/home.html#">publication</a></b>.

									<span class="timeago">5 days ago</span>

								</div>

							</div>

						</div>

						<div class="notification-row">

							<div class="notification-padding">

								<div class="sidebar-fa-image">

									<img class="notifications" src="assets/img/woman-2.jpg">

								</div>

								<div class="sidebar-fa-text">

									<b><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Hillary
											Markston</a></b> shared a

									<b><a
											href="https://www.bootdey.com/template_demo/clean-note/home.html#">publication</a></b>.

									<span class="timeago">5 min ago</span>

								</div>

							</div>

						</div>

						<div class="notification-row">

							<div class="notification-padding">

								<div class="sidebar-fa-image">

									<img class="notifications" src="assets/img/woman-3.jpg">

								</div>

								<div class="sidebar-fa-text">

									<b><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Leidy
											marshel</a></b> shared a

									<b><a
											href="https://www.bootdey.com/template_demo/clean-note/home.html#">publication</a></b>.

									<span class="timeago">5 min ago</span>

								</div>

							</div>

						</div>

						<div class="notification-row">

							<div class="notification-padding">

								<div class="sidebar-fa-image">

									<img class="notifications" src="assets/img/woman-4.jpg">

								</div>

								<div class="sidebar-fa-text">

									<b><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Presilla
											bo</a></b> shared a

									<b><a
											href="https://www.bootdey.com/template_demo/clean-note/home.html#">publication</a></b>.

									<span class="timeago">5 min ago</span>

								</div>

							</div>

						</div>

						<div class="notification-row">

							<div class="notification-padding">

								<div class="sidebar-fa-image">

									<img class="notifications" src="assets/img/woman-4.jpg">

								</div>

								<div class="sidebar-fa-text">

									<b><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Martha
											markguy</a></b> shared a

									<b><a
											href="https://www.bootdey.com/template_demo/clean-note/home.html#">publication</a></b>.

									<span class="timeago">5 min ago</span>

								</div>

							</div>

						</div>

						<div class="notification-row">

							<div class="notification-padding">

								<div class="sidebar-fa-image">

									<img class="notifications" src="assets/img/guy-5.jpg">

								</div>

								<div class="sidebar-fa-text">

									<b><a >Carlos
											marthur</a></b> reviewed a

									<b><a>publication</a></b>.

									<span class="timeago">5 days ago</span>

								</div>

							</div>

						</div>

						<div class="notification-row carbon">

							<div>


								<script async="" type="text/javascript" src="assets/img/carbon.js.download"
									id="_carbonads_js"></script>
								<div id="carbonads"><span><span class="carbon-wrap"><a
												href="https://bootdey.com/themes/view/Day-Day-bootstrap-social-network-template"
												class="carbon-img" target="_blank" rel="noopener sponsored"><img
													src="assets/img/0786d49a3ac7aaf09b3c02d2521f8014.png"
													alt="ads via Carbon" border="0" style="max-width: 130px;"></a><a
												href="https://bootdey.com/themes/view/Day-Day-bootstrap-social-network-template"
												class="carbon-text" target="_blank"
												rel="noopener sponsored">Professional bootstrap social network
												template</a></span><a
											href="http://carbonads.net/?utm_source=bootdeycom&amp;utm_medium=ad_via_link&amp;utm_campaign=in_unit&amp;utm_term=carbon"
											class="carbon-poweredby" target="_blank" rel="noopener sponsored">ads via
											Carbon</a></span></div>

								<style>
									#bsaHolder {
										right: 25px;
										position: absolute;
										top: 0;
										width: 345px;
										z-index: 10
									}

									#bsa_closeAd {
										width: 15px;
										height: 15px;
										overflow: hidden;
										position: absolute;
										top: 10px;
										right: 11px;
										border: none !important;
										z-index: 1;
										text-decoration: none !important;
										background: url(https://bootdey.com/img/x_icon.png) no-repeat
									}

									#carbonads,
									#carbonads span {
										overflow: hidden;
										display: block
									}

									#carbonads {
										border-radius: 4px;
										background-color: #f9f9f9;
										line-height: 1.5
									}

									.carbon-img {
										display: block;
										margin: 0 auto 1em;
										text-align: center;
										float: left !important;
										margin-right: 10px !important
									}

									.carbon-text {
										display: block;
										margin-bottom: 1em;
										text-align: left;
										text-decoration: none;
										margin-top: 15px;
										font-size: 90% !important;
										line-height: 130% !important;
										min-width: 120px !important;
										color: #06c !important
									}

									.carbon-poweredby,
									.carbon-wrap,
									.carbon-wrap a {
										display: block !important
									}

									.carbon-wrap {
										background: #f1f1f1 !important;
										padding: 15px 15px 10px !important
									}

									.carbon-poweredby {
										color: #6e6e6e !important;
										text-decoration: underline !important;
										font-size: 65% !important;
										font-style: italic !important;
										text-align: center !important;
										margin: 8px 0 0 !important
									}

									#carbonads {
										background: #fff !important;
										padding: 0 !important
									}
								</style>

							</div>

						</div>

					</div>

				</div><!-- End Friends activity -->



				<!-- People You May Know -->

				<div class="panel panel-info  people-you-may-know">

					<div class="panel-heading">

						<h3 class="panel-title">People You May Know</h3>

					</div>

					<div class="panel-body">

						<div class="card">

							<div class="content">

								<ul class="list-unstyled team-members">

									<li>

										<div class="row">

											<div class="col-xs-3">

												<div class="avatar">

													<img src="assets/img/guy-2.jpg" alt="Circle Image"
														class="img-circle img-no-padding img-responsive">

												</div>

											</div>

											<div class="col-xs-6">

												Carlos marthur

											</div>



											<div class="col-xs-3 text-right">

												<button class="btn btn-sm btn-warning btn-icon"><i
														class="fa fa-user-plus"></i></button>

											</div>

										</div>

									</li>

									<li>

										<div class="row">

											<div class="col-xs-3">

												<div class="avatar">

													<img src="assets/img/woman-1.jpg" alt="Circle Image"
														class="img-circle img-no-padding img-responsive">

												</div>

											</div>

											<div class="col-xs-6">

												Maria gustami

											</div>



											<div class="col-xs-3 text-right">

												<button class="btn btn-sm btn-warning btn-icon"><i
														class="fa fa-user-plus"></i></button>

											</div>

										</div>

									</li>

									<li>

										<div class="row">

											<div class="col-xs-3">

												<div class="avatar">

													<img src="assets/img/woman-2.jpg" alt="Circle Image"
														class="img-circle img-no-padding img-responsive">

												</div>

											</div>

											<div class="col-xs-6">

												Angellina mcblown

											</div>



											<div class="col-xs-3 text-right">

												<button class="btn btn-sm btn-warning btn-icon"><i
														class="fa fa-user-plus"></i></button>

											</div>

										</div>

									</li>

								</ul>

							</div>

						</div>

					</div>

				</div><!-- End people yout may know -->

			</div><!-- end left content-->

			<!-- right  content-->

			<div class="profile-info col-md-8  animated fadeInRight">

				<div class="panel">

					<form [formGroup]="HomePostform" (ngSubmit)="HomePostSubmitform(HomePostform.value)">

						<textarea [formControlName]="'postdata'" name="postdata"
						 placeholder="Whats in your mind today?" rows="4"
							class="form-control input-lg p-text-area"></textarea>

					

					<div class="panel-footer">

						<button type="submit" class="btn btn-info pull-right">Post</button>

						<ul class="nav nav-pills">

							<li>

								<a  ><i style="color: red; " class="fa fa-map-marker"></i> </a>
												</li>

							<li>

								<a ><i style="color:green; " class="fa fa-camera" (click)="photo.click()"  ></i></a>
								<input  #photo  name="imgUpload"  (change)="fileChangeEvent($event)"  type="file" style="display: none;" >
		

							</li>

							<li>

								<a><i style="color:black; border-right:none; background-color: yellow; border-radius: 50px;"
										class="fa fa-smile-o"> </i></a>

							</li>


						</ul>

					</div>
				</form>
				</div>

				<!-- first post-->

				<div class="panel panel-white post panel-shadow ">

					<div class="post-heading">

						<div class="pull-left image">

							<img src="assets/img/guy-2.jpg" class="avatar" alt="user profile image">

						</div>

						<div class="pull-left meta">

							<div class="title h5">

								<a class="post-user-name">Omarion welkdic</a>

								uploaded a photo.

							</div>

							<h6 class="text-muted time">5 seconds ago</h6>

						</div>
						
					</div>
					<p>This is a short description</p>
					<div class="post-image">

						<img src="assets/img/game.jpg" class="image show-in-modal" alt="image post">

					</div>

					<div class="post-description">

						<!-- <p>This is a short description</p> -->

						<div class="stats">

							<a class="stat-item">

								<i class="fa fa-thumbs-up icon"></i>228

							</a>

							<a class="stat-item">

								<i class="fa fa-retweet icon"></i>128

							</a>

							<a class="stat-item">

								<i class="fa fa-comments-o icon"></i>3

							</a>

						</div>

					</div>

					<div class="post-footer">

						<input class="form-control add-comment-input" placeholder="Add a comment..." type="text">

						<ul class="comments-list">

							<li class="comment">

								<a class="pull-left">

									<img class="avatar" src="assets/img/guy-3.jpg" alt="avatar">

								</a>
<!-- Create Div -->         <div class="commen-box">
								<div class="comment-body">

									<div class="comment-heading">

										<h4 class="comment-user-name"><a>Antony andrew lobghi</a></h4>

										<h5 class="time">7 mins ago</h5>

									</div>

									<p>This is a comment bla bla bla</p>
								</div>


								
								<div class="stats" style="margin-left: 60px;">

									<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Year</a>

									<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Like</a>

									<a (click)="gotoReplyBox()" class="stat-item"  style="cursor: pointer;" >Reply </a>
 
								</div>

								<!--start of Div comment by user inside UL list -->
								<div class="reply-box" *ngIf="ReplyBoxShow">
									<textarea placeholder="Write a Reply......" rows="2" class="reply-text">
									</textarea>
									<div>
										<button (click)="gotoShowReply()" class="reply-button"> Send </button>
									</div>
								</div>

								<!--End of Div comment by user inside UL list -->


								<!--start of div with ng if show on reply Send Comment-->
								
								<ul class="comments-list" *ngIf="ShowReply">
									<li class="comment">
										<a class="pull-left">

											<img class="avatar" src="assets/img/guy-3.jpg" alt="avatar">
		
										</a>
								        <div class="comment-body">
									
								         	<div class="comment-heading">

										         <h4 class="comment-user-name"><a>Antony andrew lobghi</a></h4>

										         <h5 class="time">7 mins ago</h5>

									        </div>

									        <p>This is a reply by shashwat.</p>
										</div>
										<div class="stats" style="margin-left: 60px;">

											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Year</a>
		
											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Like</a>
		
											<a (click)="gotoReplyBox()" class="stat-item"  style="cursor: pointer;" >Reply </a>
		 
										</div>
									</li>

									<li class="comment">
										<a class="pull-left">

											<img class="avatar" src="assets/img/guy-3.jpg" alt="avatar">
		
										</a>
								        <div class="comment-body">
									
								         	<div class="comment-heading">

										         <h4 class="comment-user-name"><a>Antony andrew lobghi</a></h4>

										         <h5 class="time">7 mins ago</h5>

									        </div>

									        <p>This is a reply by shashwat.</p>
										</div>
										<div class="stats" style="margin-left: 60px;">

											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Year</a>
		
											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Like</a>
		
											<a (click)="gotoReplyBox()" class="stat-item"  style="cursor: pointer;" >Reply </a>
		 
										</div>
									</li>
									
								</ul>
							    
								<!--End of div with ng if show on reply Send Comment -->

							</div>	<!-- closed div -->

							</li>

							<li class="comment">

								<a class="pull-left">

									<img class="avatar" src="assets/img/guy-2.jpg" alt="avatar">

								</a>

								<div class="comment-body">

									<div class="comment-heading">

										<h4 class="comment-user-name"><a>Jeferh Smith</a></h4>

										<h5 class="time">3 mins ago</h5>

									</div>

									<p>This is another comment bla bla bla</p>

								</div>

							</li>

							
						</ul>

					</div>

				</div><!-- first post-->

				<!-- second post -->

				<!-- <div class="panel panel-white post panel-shadow">

				  <div class="post-heading">

				      <div class="pull-left image">

				          <img src="assets/img/woman-1.jpg" class="avatar" alt="user profile image">

				      </div>

				      <div class="pull-left meta">

				          <div class="title h5">

				              <a  class="post-user-name">Hillary McBrewk</a>

				              made a post.

				          </div>

				          <h6 class="text-muted time">1 min ago</h6>

				      </div>

				  </div> 

				  <div class="post-description"> 

				      <p>Bootdey is a gallery of free snippets resources templates and utilities 

				      for bootstrap css hmtl js framework. Codes for developers and web designers</p>

				      <div class="stats">

				          <a href="https://www.bootdey.com/template_demo/clean-note/home.html#" class="stat-item">

				              <i class="fa fa-thumbs-up icon"></i>2

				          </a>

				          <a href="https://www.bootdey.com/template_demo/clean-note/home.html#" class="stat-item">

				              <i class="fa fa-retweet icon"></i>12

				          </a>

				          <a href="https://www.bootdey.com/template_demo/clean-note/home.html#" class="stat-item">

				              <i class="fa fa-comments-o icon"></i>3

				          </a>

				      </div>

				  </div>

				  <div class="post-footer">

				      <input class="form-control add-comment-input" placeholder="Add a comment..." type="text">

				      <ul class="comments-list">

				          <li class="comment">

				              <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/home.html#">

				                  <img class="avatar" src="assets/img/guy-8.jpg" alt="avatar">

				              </a>

				              <div class="comment-body">

				                  <div class="comment-heading">

				                      <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Gavhin dahg martb</a></h4>

				                      <h5 class="time">5 mins ago</h5>

				                  </div>

				                  <p>This is a first comment</p>

				              </div>

				              <ul class="comments-list">

				                  <li class="comment">

				                      <a class="pull-left" >

				                          <img class="avatar" src="assets/img/woman-5.jpg" alt="avatar">

				                      </a>

				                      <div class="comment-body">

				                          <div class="comment-heading">

				                              <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Ryanah Haywofd</a></h4>

				                              <h5 class="time">3 mins ago</h5>

				                          </div>

				                          <p>Relax my friend</p>

				                      </div>

				                  </li> 

				                  <li class="comment">

				                      <a class="pull-left" >

				                          <img class="avatar" src="assets/img/woman-7.jpg" alt="avatar">

				                      </a>

				                      <div class="comment-body">

				                          <div class="comment-heading">

				                              <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Maria dh heart</a></h4>

				                              <h5 class="time">3 mins ago</h5>

				                          </div>

				                          <p>Ok, cool.</p>

				                      </div>

				                  </li> 

				              </ul>

				          </li>

				      </ul>

				  </div>

				</div> -->
				<!-- end second post -->

				<!-- third post -->

				<!-- <div class="panel panel-white post panel-shadow">

					  <div class="post-heading">

					      <div class="pull-left image">

					          <img src="assets/img/woman-1.jpg" class="avatar" alt="user profile image">

					      </div>

					      <div class="pull-left meta">

					          <div class="title h5">

					              <a href="https://www.bootdey.com/template_demo/clean-note/home.html#" class="post-user-name">Hillary McBrewk</a>

					              made a post.

					          </div>

					          <h6 class="text-muted time">1 min ago</h6>

					      </div>

					  </div> 

					  <div class="post-image">

					      <img src="assets/img/young-couple-in-love.jpg" class="image show-in-modal" alt="image post">

					  </div>					      

					  <div class="post-description"> 

					      <p>This is my new awesome photo, ok relax with my style, so cray</p>

					      <div class="stats">

					          <a href="https://www.bootdey.com/template_demo/clean-note/home.html#" class="stat-item">

					              <i class="fa fa-thumbs-up icon"></i>2

					          </a>

					          <a href="https://www.bootdey.com/template_demo/clean-note/home.html#" class="stat-item">

					              <i class="fa fa-retweet icon"></i>12

					          </a>

					          <a href="https://www.bootdey.com/template_demo/clean-note/home.html#" class="stat-item">

					              <i class="fa fa-comments-o icon"></i>3

					          </a>

					      </div>

					  </div>

					  <div class="post-footer">

					      <input class="form-control add-comment-input" placeholder="Add a comment..." type="text">

					      <ul class="comments-list">

					          <li class="comment">

					              <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/home.html#">

					                  <img class="avatar" src="assets/img/guy-8.jpg" alt="avatar">

					              </a>

					              <div class="comment-body">

					                  <div class="comment-heading">

					                      <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Gavhin dahg martb</a></h4>

					                      <h5 class="time">5 mins ago</h5>

					                  </div>

					                  <p>This is a first comment</p>

					              </div>

					              <ul class="comments-list">

					                  <li class="comment">

					                      <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/home.html#">

					                          <img class="avatar" src="assets/img/woman-5.jpg" alt="avatar">

					                      </a>

					                      <div class="comment-body">

					                          <div class="comment-heading">

					                              <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Ryanah Haywofd</a></h4>

					                              <h5 class="time">3 mins ago</h5>

					                          </div>

					                          <p>Relax my friend</p>

					                      </div>

					                  </li> 

					                  <li class="comment">

					                      <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/home.html#">

					                          <img class="avatar" src="assets/img/woman-7.jpg" alt="avatar">

					                      </a>

					                      <div class="comment-body">

					                          <div class="comment-heading">

					                              <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/home.html#">Maria dh heart</a></h4>

					                              <h5 class="time">3 mins ago</h5>

					                          </div>

					                          <p>Ok, cool.</p>

					                      </div>

					                  </li> 

					              </ul>

					          </li>

					      </ul>

					  </div>

					</div> -->
				<!-- end third post -->

				<div class="panel panel-white post-load-more panel-shadow text-center">

					<button class="btn btn-info">

						<i class="fa fa-refresh"></i>Load More...

					</button>

				</div>

			</div>
			<!--end right  content-->

		</div>

	</div>

</div>

<!-- end timeline content-->

<app-footer></app-footer>