
  
  <!-- Online users sidebar content-->

  <div class="chat-sidebar focus" >

    <div class="list-group text-left">

      <p class="text-center visible-xs"><a (click)="toggleMenu() " class="hide-chat">Hide</a></p> 

      <p class="text-center chat-title">Online users</p>  

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/guy-2.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Jeferh Smith</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-times-circle absent-status"></i>

        <img src="assets/img/woman-1.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Dapibus acatar</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/guy-3.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Antony andrew lobghi</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/woman-2.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Maria fernanda coronel</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/guy-4.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Markton contz</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-times-circle absent-status"></i>

        <img src="assets/img/woman-3.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Martha creaw</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-times-circle absent-status"></i>

        <img src="assets/img/woman-8.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Yira Cartmen</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/woman-4.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Jhoanath matew</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/woman-5.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Ryanah Haywofd</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/woman-9.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Linda palma</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/woman-10.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Andrea ramos</span>

      </a>

      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">

        <i class="fa fa-check-circle connected-status"></i>

        <img src="assets/img/child-1.jpg" class="img-chat img-thumbnail">

        <span class="chat-user-name">Dora ty bluekl</span>

      </a>        

    </div>

  </div><!-- Online users sidebar content-->

