/*============= Online Users Sidebar =================*/

.chat-sidebar .list-group {
    height: 94%;
  }
  
  .chat-sidebar ~ .nav-controller > .controller-open {
      display: inline-block;
  }
  
  .chat-sidebar ~ .nav-controller > .controller-close {
      display: none;
  }
  .chat-sidebar.focus ~ .nav-controller > .controller-open {
      display: none;
  }
  
  .chat-sidebar.focus ~ .nav-controller > .controller-close {
      display: inline-block;
  }
  
  .chat-sidebar.focus {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .chat-sidebar {
      position: fixed;
      top: 51px;
      right: -100%;
      padding-top: 35px;
      padding-bottom: 15px;
      height: 95%;
      width: 210px;
      text-align: right;
      background-color: rgb(255, 255, 255);
      box-shadow: -3px 0px 3px 0px rgba(160, 160, 160, 0.30);
      z-index: 999;    
      overflow-y: auto;
  }
  
  .chat-sidebar.focus {
      right: 0px;
  }
  
  .chat-sidebar > .divider {
      content: '';
      border-bottom: 1px solid rgb(230, 230, 230);
      max-height: 1px;
      overflow: hidden;
      margin: 15px 0px;
  }
  
  .chat-sidebar > h4,
  .chat-sidebar > p,
  .chat-sidebar > ul {
      padding: 0px 10px;
  }
  
  .chat-sidebar > h4 {
      font-family: 'Anton', sans-serif;
  }
  
  .chat-sidebar > ul {
      list-style: none;
  }
  .chat-sidebar > ul > li {
      margin: 5px 0px;   
  }
  .chat-sidebar > ul > li > a {
      color: rgb(190, 190, 190);   
  }
  
  .chat-sidebar .img-chat {
    width: 40px;
    height: 40px;
    border : 0px !important;
  }
  .chat-sidebar .list-group-item {
    padding:1px 8px;
  }
  .chat-sidebar .list-group .list-group-item .chat-user-name {
    display: inline-block;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
  
  .chat-sidebar .connected-status {
    color: #008000 !important;
  }
  
  .chat-sidebar .absent-status {
    color: #FFA500 !important;
  }
  
  .chat-sidebar .chat-title {
    font-size: 16px;
    color:#A9A9A9;
    margin-bottom: 10px;
  }