
<app-header></app-header>
  
      <!-- Timeline content -->
  
      <div class="container" style="margin-top:80px;">
  
        <div class="col-md-10 col-md-offset-1 no-paddin-xs animated fadeInRight"> 
  
          <div class="col-md-12">
  
            <!--  chat content -->
  
            <div class="row">
  
              <div class="col-md-4 bg-white ">
  
                <!-- member list -->
  
                <div class=" row border-bottom padding-sm" style="height: 40px;">
  
                  
  
                </div>
  
                <ul class="friend-list">
  
                    <li class="active bounceInDown">
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/guy-2.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>John Doe</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Hello, Are you there?</div>
  
                        <small class="time text-muted">Just now</small>
  
                        <small class="chat-alert label label-danger">1</small>
  
                      </a>
  
                    </li>
  
                    <li>
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/woman-10.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>Jane Doe</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
  
                        <small class="time text-muted">5 mins ago</small>
  
                      <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
  
                      </a>
  
                    </li> 
  
                    <li>
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/woman-3.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>Kate Doe</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
  
                        <small class="time text-muted">Yesterday</small>
  
                        <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
  
                      </a>
  
                    </li>  
  
                    <li>
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/woman-4.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>Martha Doe</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
  
                        <small class="time text-muted">Yesterday</small>
  
                        <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
  
                      </a>
  
                    </li>     
  
                    <li>
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/woman-5.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>Katherin Doe</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
  
                        <small class="time text-muted">Yesterday</small>
  
                        <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
  
                      </a>
  
                    </li>        
  
                    <li>
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/woman-6.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>Camila crut</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
  
                        <small class="time text-muted">Yesterday</small>
  
                        <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
  
                      </a>
  
                    </li>          
  
                    <li>
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/woman-7.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>Marian Grey</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
  
                        <small class="time text-muted">Yesterday</small>
  
                        <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
  
                      </a>
  
                    </li>
  
                    <li>
  
                        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html#" class="clearfix">
  
                        <img src="assets/img/woman-8.jpg" alt="" class="img-circle">
  
                        <div class="friend-name"> 
  
                          <strong>Jane Doe</strong>
  
                        </div>
  
                        <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
  
                        <small class="time text-muted">5 mins ago</small>
  
                      <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
  
                      </a>
  
                    </li>                 
  
                </ul><!-- end member list -->
  
              </div>
  
  
  
              <!-- selected chat content -->
  
              <div class="col-md-8 bg-white ">
  
                <div class="chat-message">
  
                    <ul class="chat">
  
                        <li class="left clearfix">
  
                          <span class="chat-img pull-left">
  
                            <img src="assets/img/guy-2.jpg" alt="User Avatar">
  
                          </span>
  
                          <div class="chat-body clearfix">
  
                            <div class="header">
  
                              <strong class="primary-font">John Doe</strong>
  
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
  
                            </div>
  
                            <p>
  
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  
                            </p>
  
                          </div>
  
                        </li>
  
                        <li class="right clearfix">
  
                          <span class="chat-img pull-right">
  
                            <img src="assets/img/guy-3.jpg" alt="User Avatar">
  
                          </span>
  
                          <div class="chat-body clearfix">
  
                            <div class="header">
  
                              <strong class="primary-font">Sarah</strong>
  
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
  
                            </div>
  
                            <p>
  
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
  
                            </p>
  
                          </div>
  
                        </li>
  
                        <li class="left clearfix">
  
                            <span class="chat-img pull-left">
  
                            <img src="assets/img/guy-2.jpg" alt="User Avatar">
  
                          </span>
  
                          <div class="chat-body clearfix">
  
                            <div class="header">
  
                              <strong class="primary-font">John Doe</strong>
  
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
  
                            </div>
  
                            <p>
  
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  
                            </p>
  
                          </div>
  
                        </li>
  
                        <li class="right clearfix">
  
                            <span class="chat-img pull-right">
  
                            <img src="assets/img/guy-3.jpg" alt="User Avatar">
  
                          </span>
  
                          <div class="chat-body clearfix">
  
                            <div class="header">
  
                              <strong class="primary-font">Sarah</strong>
  
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
  
                            </div>
  
                            <p>
  
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
  
                            </p>
  
                          </div>
  
                        </li>                    
  
                        <li class="left clearfix">
  
                            <span class="chat-img pull-left">
  
                            <img src="assets/img/guy-2.jpg" alt="User Avatar">
  
                          </span>
  
                          <div class="chat-body clearfix">
  
                            <div class="header">
  
                              <strong class="primary-font">John Doe</strong>
  
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
  
                            </div>
  
                            <p>
  
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  
                            </p>
  
                          </div>
  
                        </li>
  
                        <li class="right clearfix">
  
                            <span class="chat-img pull-right">
  
                            <img src="assets/img/guy-3.jpg" alt="User Avatar">
  
                          </span>
  
                          <div class="chat-body clearfix">
  
                            <div class="header">
  
                              <strong class="primary-font">Sarah</strong>
  
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
  
                            </div>
  
                            <p>
  
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
  
                            </p>
  
                          </div>
  
                        </li>
  
                        <li class="right clearfix">
  
                            <span class="chat-img pull-right">
  
                            <img src="assets/img/guy-3.jpg" alt="User Avatar">
  
                          </span>
  
                          <div class="chat-body clearfix">
  
                            <div class="header">
  
                              <strong class="primary-font">Sarah</strong>
  
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
  
                            </div>
  
                            <p>
  
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
  
                            </p>
  
                          </div>
  
                        </li>                    
  
                    </ul>
  
                </div>
  
                <div class="panel profile-info panel-info">
  
                  <form>
  
                      <textarea class="form-control input-lg p-text-area" rows="3" placeholder="Write a message..."></textarea>
  
                  </form>
  
                  <div class="panel-footer">
  
                      <button type="button" class="btn btn-info pull-right">Send</button>
  
                      <ul class="nav nav-pills">
  
                          <li><a href="https://www.bootdey.com/template_demo/clean-note/messages.html#"><i class="fa fa-camera"></i></a></li>
  
                          <li><a href="https://www.bootdey.com/template_demo/clean-note/messages.html#"><i class=" fa fa-film"></i></a></li>
  
                          <li><a href="https://www.bootdey.com/template_demo/clean-note/messages.html#"><i class="fa fa-microphone"></i></a></li>
  
                      </ul>
  
                  </div>
  
                </div><!-- end add post form-->           
  
              </div><!-- selected chat content -->        
  
            </div><!-- end chat content -->
  
          </div>
  
        </div>
  
      </div>
  
      
  
<!-- <app-sidebaruser></app-sidebaruser> -->
  
  
<app-footer></app-footer>
    
  
  
  
  