<app-header></app-header>

<div class="container  first-container" >
  
    <div class="col-md-12 no-paddin-xs">

          <div class="row"></div>
          <div >
            <div class="row  page-content  ">
                <div class="col-md-10 ">
                  <div class="row">
                    <div class=" profile-set">
                      <div class="cover profile">
                        <div class="wrapper">
                          <div class=" col-md-12 image nopadding">
                            <img src="assets/img/profile.jpg" class="show-in-modal" alt="people">
                          </div>
                         
                        </div>
                        <div class="cover-info">
                          <div class="avatar">
                            <img src="assets/img/guy-3.jpg" alt="people">
                          </div>
                          <div class="name"><a >John Breakgrow jr.</a></div>
                          <ul class="cover-nav">
                            <li class="active"><a ><i class="fa fa-fw fa-bars"></i> Add freind</a></li>
                            <li ><a  (click)="gotoAbout()"><i class="fa fa-fw fa-user" class="listClassss"></i> About</a></li>
                            <li ><a  (click)="gotoFreinds()"><i class="fa fa-fw fa-users" class="listClassss"></i> Friends</a></li>
                            <li ><a  (click)="gotoPhotos"><i class="fa fa-fw fa-image"  class="listClassss"></i> Photos</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-md-22 hidden">
                      <div class="cover profile">
                        <div class="wrapper">
                          <div class="image">
                            <img src="assets/img/profile-cover.jpg" class="show-in-modal" alt="people">
                          </div>
                          <ul class="friends mobile-freind">
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/guy-6.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/woman-3.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/guy-2.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/guy-9.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/woman-9.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/guy-4.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/guy-1.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li>
                              <a href="https://www.bootdey.com/template_demo/dayday/profile.html#">
                                <img src="assets/img/woman-4.jpg" alt="people" class="img-responsive">
                              </a>
                            </li>
                            <li><a href="https://www.bootdey.com/template_demo/dayday/profile.html#" class="group"><i class="fa fa-group"></i></a></li>
                          </ul>
                        </div>
                        <div class="cover-info">
                          <div class="avatar">
                            <img src="assets/img/guy-3.jpg" alt="people">
                          </div>
                          <div class="name"><a href="https://www.bootdey.com/template_demo/dayday/profile.html#">John Breakgrow jr.</a></div>
                          <ul class="cover-nav">
                            
                            <li (click)="gotoAbout()"><a ><i class="fa fa-fw fa-user"></i> About</a></li>
                            <li class="active"><a (click)="gotoProfile()"><i class="fa fa-comment" aria-hidden="true"></i> Message</a></li>
                            <li><a (click)="gotoFreinds()"><i class="fa fa-fw fa-users"></i> Friends</a></li>
                            <li><a (click)="gotoPhotos()"><i class="fa fa-fw fa-image"></i> Photos</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
             
        </div> 
          </div>
        </div>
</div>  


<!-- <div class="request-box text-center col-md-10">
    <p> Sent You a freind request</p>
    <div class="button-box d-inline">
       <button class="btn btn1"> Confirm </button>
       <button class="btn btn2"> Delete Request </button>
    </div>
</div> -->


 
  
  <!-- Timeline content -->
  
  <div class="container second-container" >
    <div class="facebook-box nopadding col-sm-12 col-md-10 no-paddin-xs">
        <div class="fb-sub-box lives-box">
          <a><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Lives&nbsp;&nbsp;in&nbsp;&nbsp;<b>Nagpur</b></a>
        </div>
        <div class="fb-sub-box location-box">
          <a><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;From &nbsp;&nbsp;<b>Armori</b></a>
        </div>
        <div class="fb-sub-box status-box">
          <a><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Single</b></a>
        </div>
        <div class="fb-sub-box lives-box">
          <a><i class="fa fa-ellipsis-h" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>See your About info</b></a>
        </div>
      </div>

    <div class="col-md-10 inner-second-container">

        
       
        <div class="row">
   
      <div class="col-md-4  ">
  
      <!-- friends -->
  
      <div class="panel panel-white panel-friends ">
  
        <div class="panel-heading">
  
          <h3 class="panel-title">Friends</h3>
  
        </div>
  
        <div class="panel-body text-center">
  
          <ul class="friends">
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/woman-4.jpg" title="Jhoanath matew" class="img-responsive tip">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/woman-3.jpg" title="Martha creawn" class="img-responsive tip">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/guy-2.jpg" title="Jeferh smith" class="img-responsive tip">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/woman-9.jpg" title="Linda palma" class="img-responsive tip">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/guy-9.jpg" title="Lindo polmo" class="img-responsive tip">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/guy-5.jpg" title="andrew cartson" class="img-responsive tip">
  
                </a>
  
            </li>
  
          </ul>
  
        </div>
  
      </div><!-- end friends -->
  
      <!-- photos -->
  
      <div class="panel panel-white">
  
        <div class="panel-heading">
  
          <h3 class="panel-title">Photos</h3>
  
        </div>
  
        <div class="panel-body text-center">
  
          <ul class="photos">
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                  <img src="assets/img/5.jpg" alt="photo 1" class="img-responsive show-in-modal">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/2.jpg" alt="photo 2" class="img-responsive show-in-modal">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/3.jpg" alt="photo 3" class="img-responsive show-in-modal">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/7.jpg" alt="photo 4" class="img-responsive show-in-modal">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/5.jpg" alt="photo 5" class="img-responsive show-in-modal">
  
                </a>
  
            </li>
  
            <li>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                    <img src="assets/img/4.jpg" alt="photo 6" class="img-responsive show-in-modal">
  
                </a>
  
            </li>
  
          </ul>
  
        </div>
  
      </div><!-- end photos-->
  
  
  
      <!-- groups -->
  
      <div class="panel panel-white panel-groups">
  
        <div class="panel-heading">
  
          <h3 class="panel-title">Groups</h3>
  
        </div>
  
        <div class="panel-body">
  
          <ul class="list-group">
  
            <li class="list-group-item">
  
              <div class="col-xs-3 col-sm-6 col-md-3">
  
                  <img src="assets/img/likes-5.png" alt="Group" class="img-responsive img-circle">
  
              </div>
  
              <div class="col-xs-9 col-sm-6">
  
                  <span class="name">Bootdey competitors</span>
  
              </div>
  
              <div class="clearfix"></div>
  
            </li>
  
            <li class="list-group-item">
  
              <div class="col-xs-3 col-sm-6 col-md-3">
  
                  <img src="assets/img/likes-1.png" alt="Group" class="img-responsive img-circle">
  
              </div>
  
              <div class="col-xs-9 col-sm-6">
  
                  <span class="name">Git in action</span>
  
              </div>
  
              <div class="clearfix"></div>
  
            </li>
  
            <li class="list-group-item">
  
              <div class="col-xs-3 col-sm-6 col-md-3">
  
                  <img src="assets/img/likes-6.png" alt="Group" class="img-responsive img-circle">
  
              </div>
  
              <div class="col-xs-9 col-sm-6">
  
                  <span class="name">Bootdey Snippets</span>
  
              </div>
  
              <div class="clearfix"></div>
  
            </li>
  
            <li class="list-group-item">
  
              <div class="col-xs-3 col-sm-6 col-md-3">
  
                  <img src="assets/img/likes-2.png" alt="Group" class="img-responsive img-circle">
  
              </div>
  
              <div class="col-xs-9 col-sm-6">
  
                  <span class="name">Html 5 live</span>
  
              </div>
  
              <div class="clearfix"></div>
  
            </li>
  
          </ul>
  
        </div>
  
      </div><!-- end groups--> 
          <div class="row text-center cover-container col-md-22 hidden">
  
    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
      <img src="assets/img/woman-1.jpg">
  
    </a>
  
    <h1 class="profile-name">Hillary McBrewk</h1>
  
    <p class="user-text">sharing awesome ideas with your friends, you can grow, grow fast</p>
  
  </div>												 			      
  
      </div><!-- end left content-->
  
  
  
  
  
  
  
  
  
      <!-- right  content-->
  
      <div class="profile-info col-md-8 animated fadeInRight">
          <div class="row text-center cover-container col-md-22 hidden">
  
    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
      <img src="assets/img/woman-1.jpg">
  
    </a>
  
    <h1 class="profile-name">Hillary McBrewk</h1>
  
    <p class="user-text">sharing awesome ideas with your friends, you can grow, grow fast</p>
  
  </div>
  
      <div class="panel">
  
        <form>
  
            <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
  
        </form>
  
        <div class="panel-footer">
  
            <button class="btn btn-info pull-right">Post</button>
  
            <ul class="nav nav-pills">
  
                <li>
  
                    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#"><i class="fa fa-map-marker"></i></a>
  
                </li>
  
                <li>
  
                    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#"><i class="fa fa-camera"></i></a>
  
                </li>
  
                <li>
  
                    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#"><i class=" fa fa-film"></i></a>
  
                </li>
  
                <li>
  
                    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#"><i class="fa fa-microphone"></i></a>
  
                </li>
  
            </ul>
  
        </div>
  
      </div>
  
          <!-- first post-->
  
      <div class="panel panel-white post panel-shadow">
  
        <div class="post-heading">
  
            <div class="pull-left image">
  
                <img src="assets/img/woman-1.jpg" class="avatar" alt="user profile image">
  
            </div>
  
            <div class="pull-left meta">
  
                <div class="title h5">
  
                    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="post-user-name">Hillary McBrewk</a>
  
                    uploaded a photo.
  
                </div>
  
                <h6 class="text-muted time">5 seconds ago</h6>
  
            </div>
  
        </div>
  
        <div class="post-image">
  
            <img src="assets/img/manok.png" class="image show-in-modal" alt="image post">
  
        </div>
  
        <div class="post-description">
  
            <p>This is a short description</p>
  
            <div class="stats">
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                    <i class="fa fa-thumbs-up icon"></i>228
  
                </a>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                    <i class="fa fa-retweet icon"></i>128
  
                </a>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                    <i class="fa fa-comments-o icon"></i>3
  
                </a>
  
            </div>
  
        </div>
  
        <div class="post-footer">
  
            <input class="form-control add-comment-input" placeholder="Add a comment..." type="text">
  
            <ul class="comments-list">
  
                <li class="comment">
  
                    <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                        <img class="avatar" src="assets/img/guy-3.jpg" alt="avatar">
  
                    </a>
  
                    <div class="comment-body">
  
                        <div class="comment-heading">
  
                            <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Antony andrew lobghi</a></h4>
  
                            <h5 class="time">7 minutes ago</h5>
  
                        </div>
  
                        <p>This is a comment bla bla bla</p>
  
                    </div>
  
                </li>
  
                <li class="comment">
  
                    <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                        <img class="avatar" src="assets/img/guy-2.jpg" alt="avatar">
  
                    </a>
  
                    <div class="comment-body">
  
                        <div class="comment-heading">
  
                            <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Jeferh Smith</a></h4>
  
                            <h5 class="time">3 minutes ago</h5>
  
                        </div>
  
                        <p>This is another comment bla bla bla</p>
  
                    </div>
  
                </li>
  
                <li class="comment">
  
                    <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                        <img class="avatar" src="assets/img/woman-2.jpg" alt="avatar">
  
                    </a>
  
                    <div class="comment-body">
  
                        <div class="comment-heading">
  
                            <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Maria fernanda coronel</a></h4>
  
                            <h5 class="time">10 seconds ago</h5>
  
                        </div>
  
                        <p>Wow! so cool my friend</p>
  
                    </div>
  
                </li>
  
            </ul>
  
        </div>
  
      </div><!-- first post-->
  
  
  
  
  
          <!-- second post -->
  
      <div class="panel panel-white post panel-shadow">
  
        <div class="post-heading">
  
            <div class="pull-left image">
  
                <img src="assets/img/woman-1.jpg" class="avatar" alt="user profile image">
  
            </div>
  
            <div class="pull-left meta">
  
                <div class="title h5">
  
                    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="post-user-name">Hillary McBrewk</a>
  
                    made a post.
  
                </div>
  
                <h6 class="text-muted time">1 minute ago</h6>
  
            </div>
  
        </div> 
  
        <div class="post-description"> 
  
            <p>Bootdey is a gallery of free snippets resources templates and utilities 
  
            for bootstrap css hmtl js framework. Codes for developers and web designers</p>
  
            <div class="stats">
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                    <i class="fa fa-thumbs-up icon"></i>2
  
                </a>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                    <i class="fa fa-retweet icon"></i>12
  
                </a>
  
                <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                    <i class="fa fa-comments-o icon"></i>3
  
                </a>
  
            </div>
  
        </div>
  
        <div class="post-footer">
  
            <input class="form-control add-comment-input" placeholder="Add a comment..." type="text">
  
            <ul class="comments-list">
  
                <li class="comment">
  
                    <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                        <img class="avatar" src="assets/img/guy-8.jpg" alt="avatar">
  
                    </a>
  
                    <div class="comment-body">
  
                        <div class="comment-heading">
  
                            <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Gavhin dahg martb</a></h4>
  
                            <h5 class="time">5 minutes ago</h5>
  
                        </div>
  
                        <p>This is a first comment</p>
  
                    </div>
  
                    <ul class="comments-list">
  
                        <li class="comment">
  
                            <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                                <img class="avatar" src="assets/img/woman-5.jpg" alt="avatar">
  
                            </a>
  
                            <div class="comment-body">
  
                                <div class="comment-heading">
  
                                    <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Ryanah Haywofd</a></h4>
  
                                    <h5 class="time">3 minutes ago</h5>
  
                                </div>
  
                                <p>Relax my friend</p>
  
                            </div>
  
                        </li> 
  
                        <li class="comment">
  
                            <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                                <img class="avatar" src="assets/img/woman-7.jpg" alt="avatar">
  
                            </a>
  
                            <div class="comment-body">
  
                                <div class="comment-heading">
  
                                    <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Maria dh heart</a></h4>
  
                                    <h5 class="time">3 minutes ago</h5>
  
                                </div>
  
                                <p>Ok, cool.</p>
  
                            </div>
  
                        </li> 
  
                    </ul>
  
                </li>
  
            </ul>
  
        </div>
  
      </div><!-- end second post -->
  
            <!-- third post -->
  
        <div class="panel panel-white post panel-shadow">
  
          <div class="post-heading">
  
              <div class="pull-left image">
  
                  <img src="assets/img/woman-1.jpg" class="avatar" alt="user profile image">
  
              </div>
  
              <div class="pull-left meta">
  
                  <div class="title h5">
  
                      <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="post-user-name">Hillary McBrewk</a>
  
                      made a post.
  
                  </div>
  
                  <h6 class="text-muted time">1 minute ago</h6>
  
              </div>
  
          </div> 
  
          <div class="post-image">
  
              <img src="assets/img/place1-full.jpg" class="image show-in-modal" alt="image post">
  
          </div>					      
  
          <div class="post-description"> 
  
              <p>This is my new awesome photo, ok relax with my style, so cray</p>
  
              <div class="stats">
  
                  <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                      <i class="fa fa-thumbs-up icon"></i>2
  
                  </a>
  
                  <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                      <i class="fa fa-retweet icon"></i>12
  
                  </a>
  
                  <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#" class="stat-item">
  
                      <i class="fa fa-comments-o icon"></i>3
  
                  </a>
  
              </div>
  
          </div>
  
          <div class="post-footer">
  
              <input class="form-control add-comment-input" placeholder="Add a comment..." type="text">
  
              <ul class="comments-list">
  
                  <li class="comment">
  
                      <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                          <img class="avatar" src="assets/img/guy-8.jpg" alt="avatar">
  
                      </a>
  
                      <div class="comment-body">
  
                          <div class="comment-heading">
  
                              <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Gavhin dahg martb</a></h4>
  
                              <h5 class="time">5 minutes ago</h5>
  
                          </div>
  
                          <p>This is a first comment</p>
  
                      </div>
  
                      <ul class="comments-list">
  
                          <li class="comment">
  
                              <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                                  <img class="avatar" src="assets/img/woman-5.jpg" alt="avatar">
  
                              </a>
  
                              <div class="comment-body">
  
                                  <div class="comment-heading">
  
                                      <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Ryanah Haywofd</a></h4>
  
                                      <h5 class="time">3 minutes ago</h5>
  
                                  </div>
  
                                  <p>Relax my friend</p>
  
                              </div>
  
                          </li> 
  
                          <li class="comment">
  
                              <a class="pull-left" href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
                                  <img class="avatar" src="assets/img/woman-7.jpg" alt="avatar">
  
                              </a>
  
                              <div class="comment-body">
  
                                  <div class="comment-heading">
  
                                      <h4 class="comment-user-name"><a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">Maria dh heart</a></h4>
  
                                      <h5 class="time">3 minutes ago</h5>
  
                                  </div>
  
                                  <p>Ok, cool.</p>
  
                              </div>
  
                          </li> 
  
                      </ul>
  
                  </li>
  
              </ul>
  
          </div>
  
        </div><!-- end third post -->
  
        <div class="panel panel-white post-load-more panel-shadow text-center">
  
          <button class="btn btn-info">
  
            <i class="fa fa-refresh"></i>Load More...
  
          </button>
  
        </div>			      
  
      </div><!--end right  content-->
  
    </div>
  
    </div>
        <div class="row text-center cover-container col-md-22 hidden">
  
    <a href="https://www.bootdey.com/template_demo/clean-note/profile.html#">
  
      <img src="assets/img/woman-1.jpg">
  
    </a>
  
    <h1 class="profile-name">Hillary McBrewk</h1>
  
    <p class="user-text">sharing awesome ideas with your friends, you can grow, grow fast</p>
  
  </div>
  
  </div><!-- end timeline content-->
  
  
  
<!-- <app-sidebaruser></app-sidebaruser> -->
  
<app-footer></app-footer>
