<ngx-ui-loader></ngx-ui-loader>
<div class="row row-welcome">

  <div class="login-page">

    <div class="row"> 
    
      <div class="col-md-5 col-md-offset-4"> 

        <img class="logo" src="assets/img/prism.png"> 

        <h1>FreindBook</h1> 

        <form [formGroup]="Loginform" (ngSubmit)="LoginSubmitform(Loginform.value)" role="form" class="frm "  *ngIf="show"> 

          <div class="form-content"> 

            <div class="form-group"> 

              <input [formControlName]="'loginemail'" name="loginemail" type="text" class="form-control input-underline input-lg" placeholder="Email"> 

            </div> 

            <div class="form-group"> 

              <input [formControlName]="'loginpassword'" name="loginpassword" type="text" class="form-control input-underline input-lg" placeholder="Password"> 

            </div> 

          </div> 

          <!-- <a (click)="gotoHomepage()" class="btn btn-info btn-lg">Log in</a> -->
          <button type="submit" class="btn btn-info btn-lg">Log in</button>

          <a (click)=" gotoRegisterForm()"  class="btn btn-info btn-lg btn-frm">Register Here</a>

        </form> 



        <form [formGroup]="Registerform" (ngSubmit)="RegisterSubmitform(Registerform.value)" role="form" class="frm animated fadeInRight" *ngIf="display"> 

          <div class="form-content"> 

            <div class="form-group col-md-6 nopadding"> 

              <input [formControlName]="'firstname'" name="firstname" type="text" class="form-control input-underline input-lg" placeholder="FirstName"> 

            </div> 

            <div class="form-group col-md-6 nopadding"> 

              <input [formControlName]="'lastname'" name="lastname" type="text" class="form-control input-underline input-lg" placeholder="LastName"> 

            </div>  

            <div class="form-group col-md-6 nopadding"> 

              <input [formControlName]="'mobile'" name="mobile" type="text" class="form-control input-underline input-lg" placeholder="Mobile"> 

            </div> 

            <div class="form-group col-md-6 nopadding"> 

              <input [formControlName]="'email'" name="email" type="text" class="form-control input-underline input-lg" placeholder="Email"> 

            </div>

            <div class="form-group col-md-6 nopadding "> 

              <input [formControlName]="'password1'" name="password1" type="text" class="form-control input-underline input-lg " placeholder="Password"> 

            </div> 

            <div class="form-group col-md-6 nopadding"> 

              <input [formControlName]="'password2'" name="password2" type="text" class="form-control input-underline input-lg " placeholder="Confirm Password"> 
            </div> 

            <div class="form-group col-md-6 nopadding ">
              <mat-form-field  >
                <input  [formControlName]="'birthdate'" name="birthdate" matInput [matDatepicker]="picker" placeholder="Choose a date"  >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div> 

            <div class="form-group col-md-6 nopadding " style="display: flex !important"> 

              <div class="nopadding " style="display: flex !important; font-weight: normal; ">
                <h6 style="font-size: 18px;"> Gender : </h6>
              </div>

              <div class="d-flex" style="display: flex !important; margin-left: 10px;">
              <input [formControlName]="'gender'" name="gender" class="form-check-input" type="radio" name="gender" value="male" style="height:30px;width:16px">
              <h6 class="form-check-label" style="font-size: 18px;"> Male </h6>
             </div>

             <label class="form-check form-check-inline mt-2" style="display: flex !important; margin-left: 10px;">
              <input [formControlName]="'gender'" name="gender" class="form-check-input" type="radio" name="gender" value="female" style="height:30px;width:16px">
              <h6 class="form-check-label" style="font-size: 18px;"> Female</h6>
             </label>

            </div> 

          </div> 

          
                    <a  (click)="gotoLoginForm()" class="btn btn-info btn-lg btn-frm">Go to Log in</a>
                    <button type="submit" class="btn btn-info btn-lg">Register</button>
         

        </form> 

      </div> 

    </div> 

    <div class="row welcome-full animated fadeInLeft">
     
     

    </div>

    <div class="row">
     
      <div class="container">

        <p>

          </p><div class="footer-links">

            <a (click)="gotoTerms()"  >Terms of Use</a> | 

            <a  (click)="gotoPolicy()"  >Privacy Policy</a> | 

            <a (click)="gotoFeedback()"    >Feedback</a> | 


          </div>   

          Copyright © Company - All rights reserved       

        <p></p>

      </div>

    </div>

  </div>

</div>