   <app-header></app-header>

   <app-profilecover></app-profilecover>
    <!-- Timeline content -->

    <div class="container" style="margin-top:50px;">

      <div class="row">

        <div class="col-md-10 no-paddin-xs">

            <div class="profile-info col-md-12">

              <div class="panel animated fadeInUp">

                  <div class="panel-body bio-graph-info">

                   

                     <div class="box d-flex ">
                        <h1> About : 
                            <i class="fa fa-pencil-square-o" aria-hidden="true" style="float:right;">Edit</i>
                        </h1>
                       
                     </div>

                      <div class="row about-box">

                          <div class="bio-row d-flex">

                              <p><span>First Name </span>: 
                                <input class="input" type="text" placeholder="FirstName"  > 
                            </p>

                          </div>

                          <div class="bio-row d-flex">

                              <p><span>Last Name </span>: 
                                <input class="input" type="text" placeholder="LastName">
                            </p>

                          </div>

                          <div class="bio-row">

                              <p><span>Country </span>: 
                                <input class="input" type="text" placeholder="Country">  
                            </p>

                          </div>

                          <div class="bio-row">

                              <p><span>Birthday</span>: 
                                <input class="input" type="text" placeholder="Birthday">
                            </p>

                          </div>

                          <div class="bio-row">

                              <p><span>Occupation </span>:
                                <input class="input" type="text" placeholder="Occupation">
                            </p>

                          </div>

                          <div class="bio-row">

                              <p><span>Email </span>: 
                                <input class="input" type="text" placeholder="Email">
                            </p>

                          </div>

                          <div class="bio-row">

                              <p><span>Mobile </span>: 
                                <input class="input" type="text" placeholder="Mobile">
                            </p>

                          </div>

                          <div class="bio-row">

                              <p><span>Phone </span>: 
                                <input class="input" type="text" placeholder="Phone">
                            </p>

                          </div>

                      </div>
                      <div class="button-div text-center">
                        <button style="background: #3ca2e0; padding: 8px 12px; color: white; border: none; margin: 8px 0; border-radius: 5px;margin: 0 auto; margin: 5px auto">Save</button>
                      </div>
                  </div>

              </div>

             

              
            </div>

      </div>

      </div>

    </div>
    
    <!--End Timeline content -->


<!-- <app-sidebaruser></app-sidebaruser> -->

    

<app-footer></app-footer>