<app-header></app-header>
   <!-- Timeline content -->
    <div class="row">
    	<div class="container">
			<div class="col-md-10  animated fadeInUp">
			<div class="widget">
				<div class="table-responsive">
					<table class="table user-list">
						<thead>
							<tr>
								<th><span>User</span></th>
								<th><span>Created</span></th>
								<th class="text-center"><span>Status</span></th>
								<th><span>Email</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="assets/img/guy-2.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Mila Kunis</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/08/08
								</td>
								<td class="text-center">
									<span class="label label-default">Inactive</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">mila@kunis.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/guy-3.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">George Clooney</a>
									<span class="user-subhead">Member</span>
								</td>
								<td>
									2013/08/12
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">marlon@brando.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/guy-5.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Ryan Gossling</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2013/03/03
								</td>
								<td class="text-center">
									<span class="label label-danger">Banned</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">jack@email.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/guy-8.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Emma Watson</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2004/01/24
								</td>
								<td class="text-center">
									<span class="label label-warning">Pending</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">humphrey@email.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/guy-7.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Robert Downey Jr.</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/12/31
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">spencer@tracy</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/woman-1.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Mila Kunis</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/08/08
								</td>
								<td class="text-center">
									<span class="label label-default">Inactive</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">mila@kunis.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/woman-2.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">George Clooney</a>
									<span class="user-subhead">Member</span>
								</td>
								<td>
									2013/08/12
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">marlon@brando.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/woman-3.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Ryan Gossling</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2013/03/03
								</td>
								<td class="text-center">
									<span class="label label-danger">Banned</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">jack@email.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/woman-4.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Emma Watson</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2004/01/24
								</td>
								<td class="text-center">
									<span class="label label-warning">Pending</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">humphrey@email.com</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="assets/img/woman-5.jpg" alt="">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="user-link">Robert Downey Jr.</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/12/31
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">spencer@tracy</a>
								</td>
								<td style="width: 20%;">
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link success">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			<ul class="pagination pull-right">
				<li><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">1</a></li>
				<li><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">2</a></li>
				<li><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">3</a></li>
				<li><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">4</a></li>
				<li><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">5</a></li>
				<li><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#"><i class="fa fa-chevron-right"></i></a></li>
			</ul>
    	</div>
    </div><!-- end timeline content-->
    </div>
    </div>

    <!-- Online users sidebar content-->
    <div class="chat-sidebar focus">
      <div class="list-group text-left">
        <p class="text-center visible-xs"><a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#" class="hide-chat btn btn-success">Hide</a></p> 
        <p class="text-center chat-title">Online users</p>  
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/guy-2.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Jeferh Smith</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-times-circle absent-status"></i>
          <img src="assets/img/woman-1.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Dapibus acatar</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/guy-3.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Antony andrew lobghi</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/woman-2.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Maria fernanda coronel</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/guy-4.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Markton contz</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-times-circle absent-status"></i>
          <img src="assets/img/woman-3.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Martha creaw</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-times-circle absent-status"></i>
          <img src="assets/img/woman-8.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Yira Cartmen</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/woman-4.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Jhoanath matew</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/woman-5.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Ryanah Haywofd</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/woman-9.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Linda palma</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/woman-10.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Andrea ramos</span>
        </a>
        <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
          <i class="fa fa-check-circle connected-status"></i>
          <img src="assets/img/child-1.jpg" class="img-chat img-thumbnail">
          <span class="chat-user-name">Dora ty bluekl</span>
        </a>        
      </div>
    </div><!-- Online users sidebar content-->
    
    <footer class="welcome-footer">
      <div class="container">
        <p>
          </p><div class="footer-links">
            <a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">Terms of Use</a> | 
            <a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">Privacy Policy</a> | 
            <a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">Developers</a> | 
            <a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">Contact</a> | 
            <a href="https://www.bootdey.com/template_demo/clean-note/list_users.html#">About</a>
          </div>   
          Copyright © Company - All rights reserved       
        <p></p>
      </div>
    </footer>
