<app-header></app-header>
<div class="container-fluid freind-request">

    <h3>FREIND REQUESTS</h3>
    <div class="super-box col-md-12">
        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img (click)="gotoAddFreindPage()" class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5 (click)="gotoAddFreindPage()">Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Confirm</button>
                    <button class="btn btn2 " type="submit">Delete</button>
                </div>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Confirm</button>
                    <button class="btn btn2 " type="submit">Delete</button>
                </div>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Confirm</button>
                    <button class="btn btn2 " type="submit">Delete</button>
                </div>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Confirm</button>
                    <button class="btn btn2 " type="submit">Delete</button>
                </div>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Confirm</button>
                    <button class="btn btn2 " type="submit">Delete</button>
                </div>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Confirm</button>
                    <button class="btn btn2 " type="submit">Delete</button>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="people-you-know-box">

    <h3>PEOPLE YOU MAY KNOW</h3>
    <div (click)="gotoStrangerProfile()" class="super-box col-md-12">
        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img (click)="gotoStrangerProfile()" class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5 (click)="gotoStrangerProfile()">Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Add Freind</button>
                    <button class="btn btn2 " type="submit">Remove</button>
                </div>
            </div>
        </div>



        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Add Freind</button>
                    <button class="btn btn2 " type="submit">Remove</button>
                </div>
            </div>
        </div>



        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Add Freind</button>
                    <button class="btn btn2 " type="submit">Remove</button>
                </div>
            </div>
        </div>



        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
                <h6>Works at Studying</h6>

                <div class="button-box">
                    <button class="btn btn1 " type="submit">Add Freind</button>
                    <button class="btn btn2 " type="submit">Remove</button>
                </div>
            </div>
        </div>
    </div>


</div>