    <app-header></app-header>
    
   
  
      <div class="row text-center cover-container">
  
        <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#">
  
          <img src="assets/img/woman-1.jpg">
  
        </a>
  
        <h1 class="profile-name">Hillary McBrewk</h1>
  
        <p class="user-text">sharing awesome ideas with your friends, you can grow, grow fast</p>
  
      </div>
  
  
  
      <!-- Timeline content -->
  
      <div class="container" style="margin-top:20px;">
  
        <div class="row">
  
          <div class="col-md-10 animated fadeInRight">
  
            <div class="row">
  
            <div class="col-md-12">
  
                <div id="grid" class="row">
  
                    <div class="mix col-sm-3 page1 page4 margin30">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/1.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
                        </div> 
                    </div>
  
                    <div class="mix col-sm-3 page2 page3 margin30">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/2.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
  
                        </div> 
  
  
  
                    </div>
  
                    <div class="mix col-sm-3  page3 page2 margin30 ">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/3.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
  
                        </div> 
  
  
  
                    </div>
  
                    <div class="mix col-sm-3  page4 margin30">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/4.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
  
                        </div> 
  
  
  
                    </div>
  
                    <div class="mix col-sm-3 page1 margin30 ">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/5.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
  
                        </div> 
  
  
  
                    </div>
  
                    <div class="mix col-sm-3  page2 margin30">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/6.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
  
                        </div> 
  
  
  
                    </div>
  
                    <div class="mix col-sm-3  page3 margin30">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/7.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
  
                        </div> 
  
  
  
                    </div>
  
                    <div class="mix col-sm-3 page4  margin30">
  
                        <div class="item-img-wrap ">
  
                            <img src="assets/img/8.jpg" alt="workimg">
  
                            <div class="item-img-overlay">
  
                                <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" class="show-image">
  
                                    <span></span>
  
                                </a>
  
                            </div>
  
                        </div> 
  
                    </div>                                                            
  
                </div><!-- grid-->
  
            </div>
            </div>
  
            <div class="row gallery-bottom">
  
            <div class="col-sm-6">
  
                <ul class="pagination">
  
                    <li>
  
                        <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" aria-label="Previous">
  
                            <span aria-hidden="true">«</span>
  
                        </a>
  
                    </li>
  
                    <li class="active"><a href="https://www.bootdey.com/template_demo/clean-note/photos.html#">1</a></li>
  
                    <li><a href="https://www.bootdey.com/template_demo/clean-note/photos.html#">2</a></li>
  
                    <li><a href="https://www.bootdey.com/template_demo/clean-note/photos.html#">3</a></li>
  
                    <li><a href="https://www.bootdey.com/template_demo/clean-note/photos.html#">4</a></li>
  
                    <li><a href="https://www.bootdey.com/template_demo/clean-note/photos.html#">5</a></li>
  
                    <li>
  
                        <a href="https://www.bootdey.com/template_demo/clean-note/photos.html#" aria-label="Next">
  
                            <span aria-hidden="true">»</span>
  
                        </a>
  
                    </li>
  
                </ul>
  
            </div>
  
            <div class="col-sm-6 text-right">
  
                <em>Displaying 1 to 8 (of 100 posts)</em>
  
            </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div><!-- end timeline content-->
  
  
<!-- <app-sidebaruser></app-sidebaruser> -->
      
<app-footer></app-footer>
