<div class="container-fluid">
    <div class="row">
        <div class="terms-box " style="display: flex;">
            <div class="icon">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>

            <div class="terms-heading-box text-center">
                <h3>Terms Of Service</h3>
            </div>

        </div>
    </div>
</div>


<!-- <div class="white-box" style="display: flex;">
      <div class="icon-box" >
        <i class="fa fa-book" aria-hidden="true"></i>
      </div>

      <div class="text-box">
          <h5>Terms Of Service</h5>
          <p>Terms you agree when you use freindbook</p>

      </div>
</div> -->

<div class="content-box">
    <p> Terms of Service</p>


    <p> Welcome to Facebook! </p>

    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Facebook builds technologies and services that
        enable people to connect with each other, build communities, and grow businesses. These Terms govern your use of
        Facebook, Messenger, and the other products, features, apps, services, technologies, and software we offer (the
        Facebook Products or Products), except where we expressly state that separate terms (and not these) apply. These
        Products are provided to you by Facebook, Inc.

        We don’t charge you to use Facebook or the other products and services covered by these Terms. Instead,
        businesses and organizations pay us to show you ads for their products and services. By using our Products, you
        agree that we can show you ads that we think will be relevant to you and your interests. We use your personal
        data to help determine which ads to show you.

        We don’t sell your personal data to advertisers, and we don’t share information that directly identifies you
        (such as your name, email address or other contact information) with advertisers unless you give us specific
        permission. Instead, advertisers can tell us things like the kind of audience they want to see their ads, and we
        show those ads to people who may be interested. We provide advertisers with reports about the performance of
        their ads that help them understand how people are interacting with their content. See Section 2 below to learn
        more.</p>

    <p>Our Data Policy explains how we collect and use your personal data to determine some of the ads you see and
        provide all of the other services described below. You can also go to your settings at any time to review the
        privacy choices you have about how we use your data.
        Return to top</p>

    <p>1. The services we provide</p>
    <p>Our mission is to give people the power to build community and bring the world closer together. To help advance
        this mission, we provide the Products and services described below to you:
        Provide a personalized experience for you:</p>
    <p>Your experience on Facebook is unlike anyone else's: from the posts, stories, events, ads, and other content you
        see in News Feed or our video platform to the Pages you follow and other features you might use, such as
        Trending, Marketplace, and search. We use the data we have - for example, about the connections you make, the
        choices and settings you select, and what you share and do on and off our Products - to personalize your
        experience.
        Connect you with people and organizations you care about:
        We help you find and connect with people, groups, businesses, organizations, and others that matter to you
        across the Facebook Products you use. We use the data we have to make suggestions for you and others - for
        example, groups to join, events to attend, Pages to follow or send a message to, shows to watch, and people you
        may want to become friends with. Stronger ties make for better communities, and we believe our services are most
        useful when people are connected to people, groups, and organizations they care about.
        Empower you to express yourself and communicate about what matters to you:
        There are many ways to express yourself on Facebook and to communicate with friends, family, and others about
        what matters to you - for example, sharing status updates, photos, videos, and stories across the Facebook
        Products you use, sending messages to a friend or several people, creating events or groups, or adding content
        to your profile. We have also developed, and continue to explore, new ways for people to use technology, such as
        augmented reality and 360 video to create and share more expressive and engaging content on Facebook.
        Help you discover content, products, and services that may interest you:
        We show you ads, offers, and other sponsored content to help you discover content, products, and services that
        are offered by the many businesses and organizations that use Facebook and other Facebook Products. Section 2
        below explains this in more detail.
        Combat harmful conduct and protect and support our community:
        People will only build community on Facebook if they feel safe. We employ dedicated teams around the world and
        develop advanced technical systems to detect misuse of our Products, harmful conduct towards others, and
        situations where we may be able to help support or protect our community. If we learn of content or conduct like
        this, we will take appropriate action - for example, offering help, removing content, removing or restricting
        access to certain features, disabling an account, or contacting law enforcement. We share data with other
        Facebook Companies when we detect misuse or harmful conduct by someone using one of our Products.
        Use and develop advanced technologies to provide safe and functional services for everyone:
        We use and develop advanced technologies - such as artificial intelligence, machine learning systems, and
        augmented reality - so that people can use our Products safely regardless of physical ability or geographic
        location. For example, technology like this helps people who have visual impairments understand what or who is
        in photos or videos shared on Facebook or Instagram. We also build sophisticated network and communication
        technology to help more people connect to the internet in areas with limited access. And we develop automated
        systems to improve our ability to detect and remove abusive and dangerous activity that may harm our community
        and the integrity of our Products.
        Research ways to make our services better:
    </p>

    <p> We engage in research to develop, test, and improve our Products. This includes analyzing the data we have about
        our users and understanding how people use our Products, for example by conducting surveys and testing and
        troubleshooting new features. Our Data Policy explains how we use data to support this research for the purposes
        of developing and improving our services.
        Provide consistent and seamless experiences across the Facebook Company Products:
        Our Products help you find and connect with people, groups, businesses, organizations, and others that are
        important to you. We design our systems so that your experience is consistent and seamless across the different
        Facebook Company Products that you use. For example, we use data about the people you engage with on Facebook to
        make it easier for you to connect with them on Instagram or Messenger, and we enable you to communicate with a
        business you follow on Facebook through Messenger.
        Enable global access to our services:
        To operate our global service, we need to store and distribute content and data in our data centers and systems
        around the world, including outside your country of residence. This infrastructure may be operated or controlled
        by Facebook, Inc., Facebook Ireland Limited, or its affiliates.
        Return to top
        2. How our services are funded
        Instead of paying to use Facebook and the other products and services we offer, by using the Facebook Products
        covered by these Terms, you agree that we can show you ads that businesses and organizations pay us to promote
        on and off the Facebook Company Products. We use your personal data, such as information about your activity and
        interests, to show you ads that are more relevant to you.
        Protecting people's privacy is central to how we've designed our ad system. This means that we can show you
        relevant and useful ads without telling advertisers who you are. We don't sell your personal data. We allow
        advertisers to tell us things like their business goal, and the kind of audience they want to see their ads (for
        example, people between the age of 18-35 who like cycling). We then show their ad to people who might be
        interested.
        We also provide advertisers with reports about the performance of their ads to help them understand how people
        are interacting with their content on and off Facebook. For example, we provide general demographic and interest
        information to advertisers (for example, that an ad was seen by a woman between the ages of 25 and 34 who lives
        in Madrid and likes software engineering) to help them better understand their audience. We don’t share
        information that directly identifies you (information such as your name or email address that by itself can be
        used to contact you or identifies who you are) unless you give us specific permission. Learn more about how
        Facebook ads work here.
    We collect and use your personal data in order to provide the services described above to you. You can learn about
    how we collect and use your data in our Data Policy. You have controls over the types of ads and advertisers you
    see, and the types of information we use to determine which ads we show you. Learn more.</p>
</div>