<app-header></app-header>

<app-profilecover></app-profilecover>


<div class=" freind-request">
    <div class="row ">
         <h3>FREINDS</h3>
        <div class="super-box ">
            <div (click)="gotoFreindProfile()"  class="main-box col-sm-12  col-md-6">
                <div class="box  ">
                    <img (click)="gotoFreindProfile()"  src="assets/img/guy-2.jpg">
                </div>

                <div class="box2 ">
                    <h5>Shashwat Khobragade</h5>
                    <h6>Works at Studying</h6>

                    <div class="button-box">
                        <!-- <button class="btn btn1 " type="submit">Confirm</button> -->
                        <button class="btn btn2 " type="submit">Freinds</button>
                    </div>
                </div>
            </div>

            <div class="main-box col-sm-12  col-md-6">
                <div class="box  ">
                    <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
                </div>

                <div class="box2 ">
                    <h5>Shashwat Khobragade</h5>
                    <h6>Works at Studying</h6>

                    <div class="button-box">
                        <!-- <button class="btn btn1 " type="submit">Confirm</button> -->
                        <button class="btn btn2 " type="submit">Freinds</button>
                    </div>
                </div>
            </div>

            <div class="main-box col-sm-12  col-md-6">
                <div class="box  ">
                    <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
                </div>

                <div class="box2 ">
                    <h5>Shashwat Khobragade</h5>
                    <h6>Works at Studying</h6>

                    <div class="button-box">
                        <!-- <button class="btn btn1 " type="submit">Confirm</button> -->
                        <button class="btn btn2 " type="submit">Freinds</button>
                    </div>
                </div>
            </div>

            <div class="main-box col-sm-12  col-md-6">
                <div class="box  ">
                    <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
                </div>

                <div class="box2 ">
                    <h5>Shashwat Khobragade</h5>
                    <h6>Works at Studying</h6>

                    <div class="button-box">
                        <!-- <button class="btn btn1 " type="submit">Confirm</button> -->
                        <button class="btn btn2 " type="submit">Freinds</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>