<app-header (menuState)='burgerClicked($event)'></app-header>


<div class="container ">

	<div class="col-md-10 no-paddin-xs">

		<div class="row ">


			<!-- right  content-->

			<div class="profile-info col-md-8  animated fadeInRight">

				<!-- first post-->

				<div class="panel panel-white post panel-shadow ">

					<div class="post-heading">

						<div class="pull-left image">

							<img src="assets/img/guy-2.jpg" class="avatar" alt="user profile image">

						</div>

						<div class="pull-left meta">

							<div class="title h5">

								<a class="post-user-name">Omarion welkdic</a>

								<!-- uploaded a photo. -->

							</div>

							<!-- <h6 class="text-muted time">5 seconds ago</h6> -->

						</div>
						
					</div>
					<input type="text" placeholder="Say something about this photo....." style="width:100%; border: none;">
					<div class="post-image">

						<img src="assets/img/game.jpg" class="image show-in-modal" alt="image post">

					</div>

					<div class="post-description">

						<!-- <p>This is a short description</p> -->

						<div class="stats">

							<a class="stat-item">

								<i class="fa fa-thumbs-up icon"></i>228

							</a>

							<a class="stat-item">

								<i class="fa fa-retweet icon"></i>128

							</a>

							<a class="stat-item">

								<i class="fa fa-comments-o icon"></i>3

							</a>

						</div>

					</div>

					<div class="post-footer">

						<input class="form-control add-comment-input" placeholder="Add a comment..." type="text">

						<ul class="comments-list">

							<li class="comment">

								<a class="pull-left">

									<img class="avatar" src="assets/img/guy-3.jpg" alt="avatar">

								</a>
<!-- Create Div -->         <div class="commen-box">
								<div class="comment-body">

									<div class="comment-heading">

										<h4 class="comment-user-name"><a>Antony andrew lobghi</a></h4>

										<h5 class="time">7 mins ago</h5>

									</div>

									<p>This is a comment bla bla bla</p>
								</div>


								
								<div class="stats" style="margin-left: 60px;">

									<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Year</a>

									<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Like</a>

									<a (click)="gotoReplyBox()" class="stat-item"  style="cursor: pointer;" >Reply </a>
 
								</div>

								<!--start of Div comment by user inside UL list -->
								<div class="reply-box" *ngIf="ReplyBoxShow">
									<textarea placeholder="Write a Reply......" rows="2" class="reply-text">
									</textarea>
									<div>
										<button (click)="gotoShowReply()" class="reply-button"> Send </button>
									</div>
								</div>

								<!--End of Div comment by user inside UL list -->


								<!--start of div with ng if show on reply Send Comment-->
								
								<ul class="comments-list" *ngIf="ShowReply">
									<li class="comment">
										<a class="pull-left">

											<img class="avatar" src="assets/img/guy-3.jpg" alt="avatar">
		
										</a>
								        <div class="comment-body">
									
								         	<div class="comment-heading">

										         <h4 class="comment-user-name"><a>Antony andrew lobghi</a></h4>

										         <h5 class="time">7 mins ago</h5>

									        </div>

									        <p>This is a reply by shashwat.</p>
										</div>
										<div class="stats" style="margin-left: 60px;">

											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Year</a>
		
											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Like</a>
		
											<a (click)="gotoReplyBox()" class="stat-item"  style="cursor: pointer;" >Reply </a>
		 
										</div>
									</li>

									<li class="comment">
										<a class="pull-left">

											<img class="avatar" src="assets/img/guy-3.jpg" alt="avatar">
		
										</a>
								        <div class="comment-body">
									
								         	<div class="comment-heading">

										         <h4 class="comment-user-name"><a>Antony andrew lobghi</a></h4>

										         <h5 class="time">7 mins ago</h5>

									        </div>

									        <p>This is a reply by shashwat.</p>
										</div>
										<div class="stats" style="margin-left: 60px;">

											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Year</a>
		
											<a class="stat-item" style="margin-right: 10px; cursor: pointer;">Like</a>
		
											<a (click)="gotoReplyBox()" class="stat-item"  style="cursor: pointer;" >Reply </a>
		 
										</div>
									</li>
									
								</ul>
							    
								<!--End of div with ng if show on reply Send Comment -->

							</div>	<!-- closed div -->

							</li>

							<li class="comment">

								<a class="pull-left">

									<img class="avatar" src="assets/img/guy-2.jpg" alt="avatar">

								</a>

								<div class="comment-body">

									<div class="comment-heading">

										<h4 class="comment-user-name"><a>Jeferh Smith</a></h4>

										<h5 class="time">3 mins ago</h5>

									</div>

									<p>This is another comment bla bla bla</p>

								</div>

							</li>

							
						</ul>

					</div>

				</div><!-- first post-->

				

				<div class="panel panel-white post-load-more panel-shadow text-center">

					<button class="btn btn-info">

						<i class="fa fa-refresh"></i>Load More...

					</button>

				</div>

			</div>
			<!--end right  content-->

		</div>

	</div>

</div>

<!-- end timeline content-->

<app-footer></app-footer>