    <app-header></app-header>
    <div class="row text-center color-container">
        <h1 class="profile-name">Jonathan Burke Jr.</h1>
      </div>
    <!-- Timeline container -->
    <div class="container">
        <div class="row">
          <div class="col-md-10">
            <hr>
            <section id="blog-landing" style="height: 2482px;">
                <article class="white-panel animated fadeInUp r1 c0" style="width: 226.25px; left: 0px; top: 0px;"> <img src="assets/img/1.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit.</p>
                </article>
                <article class="white-panel animated fadeInUp r1 c1" style="width: 226.25px; left: 236.25px; top: 0px;"> <img src="assets/img/2.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r1 c2" style="width: 226.25px; left: 472.5px; top: 0px;"> <img src="assets/img/3.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, </p>
                </article>
                <article class="white-panel animated fadeInUp r1 c3" style="width: 226.25px; left: 708.75px; top: 0px;"> <img src="assets/img/4.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r2 c0" style="width: 226.25px; left: 0px; top: 297px;"> <img src="assets/img/5.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula</p>
                </article>
                <article class="white-panel animated fadeInUp r2 c1" style="width: 226.25px; left: 236.25px; top: 437px;"> <img src="assets/img/6.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r2 c2" style="width: 226.25px; left: 472.5px; top: 317px;"> <img src="assets/img/7.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r2 c3" style="width: 226.25px; left: 708.75px; top: 437px;"> <img src="assets/img/8.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non so</p>
                </article>
                <article class="white-panel animated fadeInUp r3 c0" style="width: 226.25px; left: 0px; top: 614px;"> <img src="assets/img/9.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis.</p>
                </article>
                <article class="white-panel animated fadeInUp r3 c1" style="width: 226.25px; left: 236.25px; top: 874px;"> <img src="assets/img/1.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r3 c2" style="width: 226.25px; left: 472.5px; top: 754px;"> <img src="assets/img/2.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </article>
                <article class="white-panel animated fadeInUp r3 c3" style="width: 226.25px; left: 708.75px; top: 734px;"> <img src="assets/img/3.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r4 c0" style="width: 226.25px; left: 0px; top: 971px;"> <img src="assets/img/4.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non </p>
                </article>
                <article class="white-panel animated fadeInUp r4 c1" style="width: 226.25px; left: 236.25px; top: 1311px;"> <img src="assets/img/5.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r4 c2" style="width: 226.25px; left: 472.5px; top: 1031px;"> <img src="assets/img/6.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a</p>
                </article>
                <article class="white-panel animated fadeInUp r4 c3" style="width: 226.25px; left: 708.75px; top: 1171px;"> <img src="assets/img/7.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r5 c0" style="width: 226.25px; left: 0px; top: 1268px;"> <img src="assets/img/8.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec,</p>
                </article>
                <article class="white-panel animated fadeInUp r5 c1" style="width: 226.25px; left: 236.25px; top: 1748px;"> <img src="assets/img/9.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin </p>
                </article>
                <article class="white-panel animated fadeInUp r5 c2" style="width: 226.25px; left: 472.5px; top: 1408px;"> <img src="assets/img/1.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. </p>
                </article>
                <article class="white-panel animated fadeInUp r5 c3" style="width: 226.25px; left: 708.75px; top: 1608px;"> <img src="assets/img/2.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim</p>
                </article>
                <article class="white-panel animated fadeInUp r6 c0" style="width: 226.25px; left: 0px; top: 1605px;"> <img src="assets/img/3.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consevamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r6 c1" style="width: 226.25px; left: 236.25px; top: 2045px;"> <img src="assets/img/4.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
                </article>
                <article class="white-panel animated fadeInUp r6 c2" style="width: 226.25px; left: 472.5px; top: 1705px;"> <img src="assets/img/5.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. </p>
                </article>
                <article class="white-panel animated fadeInUp r6 c3" style="width: 226.25px; left: 708.75px; top: 1985px;"> <img src="assets/img/6.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </article>
                <article class="white-panel animated fadeInUp r7 c0" style="width: 226.25px; left: 0px; top: 1922px;"> <img src="assets/img/7.jpg" alt="ALT">
                    <h1><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </article>
            </section>
          </div>
        </div>
      </div><!-- end timeline content-->
  
      <!-- Online users sidebar content-->
      <div class="chat-sidebar focus">
        <div class="list-group text-left">
          <p class="text-center visible-xs"><a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#" class="hide-chat btn btn-success">Hide</a></p> 
          <p class="text-center chat-title">Online users</p>  
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/guy-2.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Jeferh Smith</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-times-circle absent-status"></i>
            <img src="assets/img/woman-1.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Dapibus acatar</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/guy-3.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Antony andrew lobghi</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/woman-2.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Maria fernanda coronel</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/guy-4.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Markton contz</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-times-circle absent-status"></i>
            <img src="assets/img/woman-3.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Martha creaw</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-times-circle absent-status"></i>
            <img src="assets/img/woman-8.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Yira Cartmen</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/woman-4.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Jhoanath matew</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/woman-5.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Ryanah Haywofd</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/woman-9.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Linda palma</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/woman-10.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Andrea ramos</span>
          </a>
          <a href="https://www.bootdey.com/template_demo/clean-note/messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="assets/img/child-1.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Dora ty bluekl</span>
          </a>        
        </div>
      </div><!-- Online users sidebar content-->
      
      <footer class="welcome-footer">
        <div class="container">
          <p>
            </p><div class="footer-links">
              <a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Terms of Use</a> | 
              <a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Privacy Policy</a> | 
              <a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Developers</a> | 
              <a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">Contact</a> | 
              <a href="https://www.bootdey.com/template_demo/clean-note/grid_posts.html#">About</a>
            </div>   
            Copyright © Company - All rights reserved       
          <p></p>
        </div>
      </footer>