
<div class="container-fluid freind-request">
    <div class="col-md-11 search-box">
            <i (click)="gotoHomepage()" class="fa fa-arrow-left" aria-hidden="true"></i>
            <div id="custom-search-input">
                <div class="input-group col-md-11">
                    <input type="text" class="form-control input-lg" placeholder="Search your freind" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i (click)="gotoSearchPage()" class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    <div class="row ">

        
<br/>
        <h3 class="recent-text">Recent Search</h3>
       <div class="super-box   col-md-12">
        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
            </div>
        </div>
        
        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
            </div>  
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shashwat Khobragade</h5>
            </div>
        </div>

        <div class="main-box col-sm-12  col-md-6">
            <div class="box  ">
                <img class="img-responsive img-circle" src="assets/img/guy-2.jpg">
            </div>

            <div class="box2 ">
                <h5>Shailesh Thakrele</h5>
            </div>
        </div>

       </div>
    </div>



</div>