.terms-box{
    background-color: #0d8cf3;
}
.fa-arrow-left{
    margin-top: 20px;
    color: white !important;
    margin-left: 20px;
    font-size: 20px;
    transform: scale(2,1);
    cursor: pointer;
}
h3{
    color: white;
    text-align: center;
}
.terms-heading-box{
    width: 100%;
}

/* .white-box{
    background-color: white;
    margin: 20px;
}
.fa-book{
    margin-top: 20px;
    width:40px;
    height: 40px;
    font-size: 30px;
} */

.content-box{
    background-color: white;
    padding: 20px 50px;
}
.content-box p{
   text-align: justify;
}