<div class="container-fluid">
    <div class="row">
        <div class="terms-box " style="display: flex;" >
            <div class="icon">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
        
            <div class="terms-heading-box text-center">
                <h3>Policy</h3>
            </div>

        </div>        
    </div>
</div>


<!-- <div class="white-box" style="display: flex;">
      <div class="icon-box" >
        <i class="fa fa-book" aria-hidden="true"></i>
      </div>

      <div class="text-box">
          <h5>Terms Of Service</h5>
          <p>Terms you agree when you use freindbook</p>

      </div>
</div> -->

<div class="content-box">
    <p style="color: black;font-weight: 400; font-size: 25px;"> Freindbook Policies</p>


      <p> Welcome to Facebook! </p> 
        
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        This policy describes the information we process to support Facebook, 
        Instagram, Messenger and other products and features offered by Facebook
         (Facebook Products or Products). You can find additional tools and information 
         in the Facebook Settings and Instagram Settings.
      </p>
</div>